01.redux-intro/node_modules
01.redux-intro/.parcel-cache
01.redux-intro/dist

02.manage_complex_state/node_modules

03.Creating_multiple_reducers/node_modules
03.Creating_multiple_reducers/.parcel-cache
03.Creating_multiple_reducers/dist

04.Action_creators/node_modules
04.Action_creators/.parcel-cache
04.Action_creators/dist

05.Cart_shop/node_modules
05.Cart_shop/.parcel-cache
05.Cart_shop/dist

06.Redux_Toolkit/node_modules
06.Redux_Toolkit/.parcel-cache
06.Redux_Toolkit/dist